<!DOCTYPE html>
<html>
<head>
    <title>Linfofluoroscopio</title>
</head>
<body>
    <h1>Transmisión en vivo</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
    <br>
    <button id="captureBtn">Capturar imagen</button>

    <script>
        document.getElementById("captureBtn").addEventListener("click", function() {
            // Llama a la ruta /capture en nuestro backend
            fetch('/capture')
                .then(response => response.json())
                .then(data => {
                    // Muestra una alerta con el mensaje del servidor
                    alert(data.message);
                });
        });
    </script>
</body>
</html>
